.main-footer {
    padding: 2rem 0;
    background-color: $color1;
    background-image: linear-gradient(lighten($color1, 5%), darken($color1, 5%));
    color: #fff;

    .wrp-facebook {
      &:hover {
        opacity: 0.8;
      }
    }

    .developer {
        .sprite {
            display: inline-block;
            height: 14px;
            width: 14px;
            background-image: url('../../images/shared/sprite-vbsmidia-logo-squares-lightgray-white.png');
            // margin: 0 5px 0 5px;
            background-size: 14px 28px;
            vertical-align: middle;
            background-position: 0 0;
        }
        a {
            color: inherit;
        }
    }
}
