.banners {
  //a {
  //    box-shadow: 1px 1px 8px 0 rgba(0, 0, 0, 0.3);
  //    display: block;
  //    border-radius: 2.6rem 0 2.6rem 0;
  //}
  //img {
  //    border-radius: 2.6rem 0 2.6rem 0;
  //}
  background-color: #f7f8f9; // same bg as banners bg to make it seamless
  border-bottom: 1px solid $gray-400;

  // slick carousel arrows
  .slick-next::before,
  .slick-prev::before {
    color: $color1;
    font-size: 32px;
    opacity: 0.5;
  }
  .slick-next:focus::before,
  .slick-next:hover::before,
  .slick-prev:focus::before,
  .slick-prev:hover::before {
    opacity: 1;
  }
  @include media-breakpoint-down(xs) {
    .slick-next,
    .slick-prev {
      left: -16px;
      right: 0;
    }
  }
}
