.row-services-home {
  background-color: rgba($color1, 0.08);
  border-top: 1px solid rgba($color1, 0.3);
  border-bottom: 1px solid rgba($color1, 0.3);

  .service {
    position: relative;
    overflow: hidden;
    // bg image comes from server logic and is inserted
    // inline with style="{{ img_post() }}"
    @include media-breakpoint-down(md) {
      height: 280px;
    }
    @include media-breakpoint-up(md) {
      height: 300px;
    }
    transition: all 0.3s ease-in-out 0s;

    * {
      transition: all 0.3s ease-in 0s;
    }

    &::before {
      transition: all 0.3s ease-in 0s;
    }

    .bg {
      position: absolute;
      background-position: center;
      // background-size: cover;
      background-repeat: no-repeat;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;
      opacity: 0.8;
    }

    @include media-breakpoint-only(md) {
      .bg {
        top: 8em;
      }
    }

    h2 {
      font-weight: 700;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
      position: relative;
      z-index: 1;
      font-size: 1.4em;
    }


    &::before {
      position: absolute;
      top: 13px;
      right: 22px;
      bottom: 14px;
      left: 22px;
      border: 1px solid lighten($color1, 50%);
      content: '';
      transform: scale(1.1);
      opacity: 0;
    }

    &:hover {
     background-color: rgba($color1, 35%);
     color: $color1;
    }

    &:hover::before {
     opacity: 1;
     top: 25px;
     right: 32px;
     bottom: 25px;
     left: 32px;
    }

    //
    // For very small screen we cut text with js when necessary.
    //
    @include media-breakpoint-down(sm) {
      background-color: rgba($color1, 0.2);
      &::before {
        opacity: 1;
        top: 25px;
        right: 32px;
        bottom: 25px;
        left: 32px;
      }
      h2 {
        font-size: 1.5rem;
        margin-top: 1em;
      }
      h2, .text {
        color: $color1;
      }
      .bg {
        opacity: 0.2;
      }
      img {
        display: block;
        max-width: 120px;
        margin: 1em auto 0 auto;
      }
    }

    @include media-breakpoint-up(md) {
      h2 {
        transform: translate3d(0, 30px, 0);
      }
      .text {
        transform: translate3d(0px, 80px, 0);
        opacity: 0;
      }
    }
    .text {
      position: relative;
      z-index: 1;
      font-weight: 300;
      font-size: 1.08rem;
      //text-transform: lowercase;
      //font-variant: small-caps;
      i {
        font-size: 4em;
        margin-top: 0.5em;
      }
    }

    &:hover {
     text-decoration: none;
     .bg {
       opacity: 0.2;
     }
     h2, .text {
       opacity: 1;
     }
     h2 {
       transform: translate3d(0px, 10px, 0);
       color: #fff;
     }
     .text {
       color: $gray-300;
       transform: translate3d(0px, 18px, 0);
       font-weight: 300;
     }
    }
  }
}

