.row-tratamentos-home {

  article {
  }

  .tratamento {
    position: relative;
    overflow: hidden;
    .title, .text, img {
      transition: all 0.3s ease-in 0s;
    }
    &:hover {
      .title, .text, img {
        opacity: 0.7;
      }
      .anim {
        opacity: 1;
      }
    }
  }

  .anim {
    background-color: $color1;
    box-shadow: 0 0 5px 1px rgba($color1, 0.5);
    opacity: 1;
    &:hover {
      background-color: darken($color1, 5%);
      box-shadow: 0 0 0px 0 rgba(0, 0, 0, 0.5);
     // opacity: 1;
    }
    a {
      color: #fff;
      padding: 1rem 2rem;
      transition: all 0.2s ease-in-out 0s;
      &:hover {
        text-decoration: none;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .anim {
    }
  }

  @include media-breakpoint-up(lg) {
    .tratamento {
      &:hover .anim {
        //left: -300px;
        transform: translate(-400px, 0) rotate(45deg);
      }
    }
    .anim {
      position: absolute;
      transition: all 0.3s ease-in 0s;
      // Override bootstrap col-12 for <= lg.
      width: 500px;
      height: 500px;
      top: 50%;
      margin: 0;
      margin-top: -250px !important;
      //transform: rotate(045deg);
      padding: 0;
      transform: translate(-630px, 0) rotate(45deg);
      a {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        div {
          transform: rotate(-45deg);
          margin: 0 -60px;
          line-height: 500px;
          text-align: right;
        }
      }
    }
  }

}

