.wrp-gallery {
  clear: both;
  padding-top: 2.5rem;
  .box {
    @include media-breakpoint-up(md) {
      height: 120px;
      a {
        border: 1px solid $gray-300;
        justify-content: center;
        height: 120px;
      }
      img {
        max-height: 100px;
      }
    }

    @include media-breakpoint-down(md) {
      margin-bottom: 10px;
    }
  }
}
