.navbar-top {
  background-color: $color1;

  @include media-breakpoint-up(md) {
    box-shadow: 0 0 5px 5px darken($color1, 4%) inset;
    // To "hide" box shadow on both sides.
    overflow: hidden;
    .nav-link.anim {
      padding: 0.5em 0.8em;
    }
  }

  .phone-wrp {
    @include media-breakpoint-down(sm) {
      padding: 1rem 1rem 1rem 2rem;
    }
  }

  .nav-item {
    @include media-breakpoint-down(md) {
      margin-left: 0;

      .nav-link {
        padding: 1.0rem 1.2rem;
      }
    }

    margin: 0 0.5rem;
  }

  .navbar-nav {
    width: 100%;
  }

  .nav-link {
    color: $color2 !important;
    //text-transform: uppercase; // Override bootstrap.
    position: relative;
    text-transform: uppercase;
    font-weight: 300;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
    &:hover, &.active {
      color: lighten($color2, 5%) !important;
      text-shadow: 0px 0px 18px rgba($color2, 30%) !important;
    }
  }

  .navbar-brand {
    img {
      max-height: 100px;
    }
  }

  @include media-breakpoint-down(md) {
    .nav-item {
      text-align: center;
      &:not(:last-child) {
        border-bottom: 1px solid lighten($color1, 10%)
      }
    }
  }

}

.NOPE-navbar-top {
  @include media-breakpoint-up(md) {
    .anim {
      $color-top: $color2;
      $color-right: $color2;
      $color-bottom: $color2;
      $color-left: $color2;
      border-radius: 10px;

      &:before,
      &:after {
        border: 3px solid transparent;
        width: 0;
        height: 0;
        position: absolute;
        content: '';
        box-sizing: inherit;
        border-radius: 10px;
      }

      &:before {
        top: 0;
        left: 0;
      }
      &:after {
        bottom: 0;
        right: 0;
      }

      &:hover:before,
      &:hover:after,
      &.active:before,
      &.active:after {
        width: 100%;
        height: 100%;
      }

      // The main thing here is that one width and height have
      // to finish animating before the next one starts.

      &:hover:before,
      &.active:before {
        border-top-color: $color-top;
        border-right-color: $color-right;
        transition: border-top-color 0s linear 0s,
        border-right-color 0s linear 0.1s,
        width 0.1s linear 0s,
        height 0.1s linear 0.1s;
      }
      &:hover:after,
      &.active:after {
        border-bottom-color: $color-bottom;
        border-left-color: $color-left;
        transition: border-bottom-color 0s linear 0s,
        border-left-color 0s linear 0.1s,
        width 0.1s linear 0s,
        height 0.1s cubic-bezier(.44,.79,.56,.94) 0.1s;
      }
    }
  }
}
