.row-contato {
  padding: 3rem 0;
  background-color: $gray-300;

  .form-wrp {
    label {
        margin-bottom: 0;
    }
    @include media-breakpoint-up(md) {
        max-width: 600px;
    }

    //input,
    //textarea {
    //    border: 1px solid $color1;
    //    &:focus {
    //        box-shadow: 0 0 0 0.2rem rgba($color1, 0.1);
    //    }
    //}
    //.btn {
    //    background-color: $color1;
    //    color: #fff;
    //}
}
}
