.topbar {
  position: relative;
  border-top: 5px solid darken($color1, 5%);
  // Doing this explicitly becase we are using the toggler button outside
  // the navbar.
  @include media-breakpoint-up(lg) {
    .navbar-toggler {
      display: none;
    }

    .navbar-brand {
      img {
        max-height: 80px;
      }
    }
  }

  @include media-breakpoint-down(md) {
    .container {
      max-width: 100%;
    }
    .navbar-brand {
      img {
        max-height: 100px;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    .navbar-toggler {
      position: absolute;
      right: 10px;
      bottom: 10px;
    }
  }
}
