// filename main-site.scss
// utf8=✔👍

//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

$color-border-primary-light: #d3e0e9;
$color-bg-primary-light: #f5f8fa;


@import '../../../../node_modules/bootstrap/scss/functions';
@import '../../../../node_modules/bootstrap/scss/mixins';
@import 'bootstrap-custom-variables-site';
@import 'topbar';
@import 'navbar-top';
@import 'home-banners';
@import 'home-sobre';
@import 'home-services';
@import '../shared/back-to-top';
@import 'home-news';
@import 'home-services';
@import 'row-contact';
@import 'row-location';
@import 'footer-bottom';

@import 'news-index';
@import 'news-show';
@import 'services-show';
@import 'image-gallery';
@import 'videos';

@import '../shared/overlay';
@import '../shared/flashmsg';

h2, h3, h4, h5 {
  color: $color1;
  font-weight: 300;
}

.link-read-more {
  display: inline-block;
  padding: 0.6rem 0.8rem;
  color: $color1;
  background-color: $color1;
  color: $color2;
  border-radius: 3px;
  //box-shadow: 0px 0px 5px 0 $color1;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  transition: all 0.1s linear 0s;
  z-index: 1;
  width: 8em;
  height: 2.8em;
  opacity: 1;
  &:hover {
    opacity: 0.8;
    text-decoration: none;
    box-shadow: none;
    color: $color2;
    //box-shadow: 0px 0px 5px 0 $color1 inset;
    //transform: scale(1.1);
    //margin-right: 5px;
  }
}


.download {
  padding: 0.3rem 0.5rem;
  color: $red;
  border: 1px solid $red;
  border-radius: 5px;
  &:hover {
    color: $red;
    border: 1px solid $red;
  }
}

.see-more {
    color: $color1;
    &:hover {
        color: darken($color1, 5%);
    }
}

.content-body {
    padding-top: 3rem;
    padding-bottom: 3rem;
}


body:before {
  position: fixed;
  top: 10px;
  left: 10px;
  display: block;
  color: red;
  z-index: 1;
}

body:before {
  @include media-breakpoint-only(xs) {
    content: 'XS';
  }
  @include media-breakpoint-only(sm) {
    content: 'SM';
  }
  @include media-breakpoint-only(md) {
    content: 'MD';
  }
  @include media-breakpoint-up(lg) {
    content: 'LG';
  }
}
