.banner-form-wrp {
  // border: 1px solid $color-border-primary-light;

  [type='file'] {
    display: none;
  }

  form {
    label[for=banner] {
      line-height: 30px;
      cursor: pointer;
      i {
        font-size: 30px;
        vertical-align: middle;
        margin-left: 10px;
      }
    }
  }

  .banner-upload-preview {
    display: none;

    &.show { display: block; }
  }
}
.banner-index-wrp {
  background-color: $gray-300;
  box-shadow: 0 0 15px rgba($gray-800, 0.4) inset;
  border-radius: 5px;
  margin-bottom: 20px;
}
.banner-upload-preview,
.banner-preview {
  margin-top: 1em;
  margin-bottom: 1em;
}
.banner-img {
  display: block;
  max-width: 100%;
  max-height: 280px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

.wrp-btns {
  flex-wrap: nowrap;
  overflow: hidden;
}

.btn-destroy {
  &.show {
    transform: translateX(0%);
  }
  &.hide {
    transform: translateX(-100%);
  }
}

.wrp-btns-destroy {
  div {
    flex-wrap: nowrap;
  }
  &.hide {
    transform: translateX(100%);
  }
  &.show {
    transform: translateX(-100%);
  }
}





