@import '~cropperjs/dist/cropper.min.css';


.preview-wrp {

    .inner-wrap {
        border: 1px solid $gray-500;
    }

    .position {
        color: $green;
        cursor: move;
    }

    .position,
    .remove,
    .crop {
        font-size: $font-size-sm;
        padding: 0.2em 0;
        background-color: $gray-200;
    }

    .remove,
    .crop {
        cursor: pointer;
    }
    .remove {
        color: $red;
    }
    .crop {
        color: $blue;
        border-left: 1px solid $gray-400;
    }

    .imgwrp {
        height: 120px;
        img {
            max-width: 90%;
            max-height: 90%;
        }
    }

}

.imgs-form-wrp {
    border: 1px solid $color-border-primary-light;

    [type='file'] {
        display: none;
    }

    form {
        label {
            line-height: 30px;
            cursor: pointer;
            i {
                font-size: 30px;
                vertical-align: middle;
                margin-left: 10px;
            }
        }
    }
}

.cropper-wrp {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: $gray-300;
    padding: 1rem;
    img {
      max-width: 96%;
      max-height: 94vh;
    }
}

.less-gutters-wrp {
    margin-left: -20px;
    margin-right: -20px;
}
.less-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
    }
}
