// filename main-admin.scss
// utf8=✔👍

@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

$color-border-primary-light: #d3e0e9;
$color-bg-primary-light: #f5f8fa;

@import '../../../../node_modules/bootstrap/scss/functions';
@import 'bootstrap-custom-variables-admin';
@import 'layout';
@import 'navbar-top';
@import 'navbar-side';
@import 'crud-forms-shared';
@import 'images';
@import 'banners';
@import 'footer-bottom';

@import '../shared/overlay';

