.back-to-top {
    display: none;
    z-index: 1;
    background-color: #eceeef;
    font-variant: small-caps;
    color: #328ec3;
    padding: 10px 20px;
    position: fixed;
    right: 10px;
    bottom: 10%;
    border-radius: 5px;
    border: 1px solid #55a5d3;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    &:hover {
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    }
}
