
// Related typescript in Helpers.ts
.flash-msg {
    $border-radiius: 0.5rem;

    position: fixed;
    z-index: 1;
    opacity: 0.96;
    font-size: 1.2rem;
    border-radius: $border-radius;

    button {
        color: inherit;
    }

    @include media-breakpoint-down(md) {
        top: 10%;
        left: 50%;
        width: 90%;
        margin-left: -45%;
    }

    @include media-breakpoint-up(md) {
        top: 20%;
        left: 50%;
        width: 500px;
        margin-left: -250px;
    }

    &-success {
        border: 3px solid $success;
        color: $success;
    }
    &-info {
        border: 3px solid $info;
        color: $info;
    }
    &-warning {
        border: 3px solid $warning;
        color: $warning;
    }
    &-danger {
        border: 3px solid $danger;
        color: $danger;
    }

    .msg {
        padding: 2rem;
        box-shadow: 1px 1px 8px 6px rgba(0, 0, 0, 0.5);
        background-color: white;
        border-radius: $border-radius;
    }

    .btn-close-x {
        position: absolute;
        top: -3px;
        right: 2px;
        padding: 5px;
        display: inline-block;
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-weight: 700;
        font-size: 26px;
        outline: none;
        //width: 22px;
        text-align: center;
    }
}