#overlay1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10000;
    img {
        position: absolute;
        top: 150px;
        // This is a technique to center absolutely positioned things.
        left: 50%;
        margin-left: -60px; // spinner1.gif has width of 100px.
    }
}
